includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 9 is the highest level
    level: 5

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Access to an undefined property Illuminate\\[a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+\.#'
        - '#Access to an undefined property App\\Models\\Game+::\$map+\.#'
        - '#Access to an undefined property Illuminate\\Support\\HigherOrderCollectionProxy#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
