@media (min-width: 1200px) {
    .container {
        max-width: 1840px;
    }
}
.hidden {
    display: none;
}

.mygrid {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.card {
    margin: 5px;
    margin-bottom: 0;
}

.card-body {
    padding-bottom: 0px;
    padding-top: 0px;
}

.card-header {
    padding: 1px;
    border-bottom: 1px solid #ffffff;
}

.card-primary {
    background-color: #0a53be;
}

.card-border {
    border: 5px solid #ddd !important;
}

.border-primary {
    border: 5px solid #0a53be !important;
}

.card-secondary {
    background-color: #b21f2d;
}

.border-secondary {
    border: 5px solid #b21f2d !important;
}

.card-header {
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    background-color: inherit;
}

.cards{
    list-style:none;
    padding:0;
}
.chk{
    float:left;
    margin-top:10px;
    margin-right:10px;
}

.cards .card{
    cursor:pointer;
    width: 10rem;
}

.cards li .card-title, .deck li .card-title{
    padding-top:5px;
}
.deck .card{
    cursor:initial;
}

.card-title {
    color:#fff;
}
.card.selected{
    border:1px solid #f85700;
}
.renew{
    padding-left:25px;
    padding-top:5px;
}
.lemming{
    padding:5px;
}
.lemming.selected{
    text-decoration: underline;
    padding-left: 4px ;
    padding-right: 4px ;
    border-radius:15px;
}
.fa-info{
    padding-right:10px;
}
.landscape-earth{
    background: #7a5b4c;
}
.landscape-water{
    background: #1d5980;
}
.landscape-rock{
    background: #878787;
}
.landscape-desert{
    background: #b0961e;
}
.landscape-forest{
    background: #38602d;
}

.player1{
    color: #f80031 !important;
}
.player2{
    color: #5e5e5e!important;
}
.player3{
    color: #7c6d1f!important;
}
.player4{
    color: #37be0a!important;
}
.player5{
    color: #0a53be !important;
}

h3.padleft{
    padding-left: 60px;
}
div.padleft{
    padding-left: 20px;
}

.icon-player{
    font-size:20px;
}

polygon.selected {
    opacity:0.5;
}

.fa-frog.player1:before {
    content: "\f71a";/* fa-squirrel*/
}
.fa-frog.player2:before {
    content: "\f6be"; /* fa-cat */
}
.fa-frog.player3:before {
    content: "\f709";/* fa-rabbit-running*/
}
.fa-frog.player4:before {
    content: "\f6d5";/* fa-dragon */
}
.fa-frog.player5:before {
    content: "\f78e";/* fa-deer */
}

.cursor, .cursor_map{
    cursor: pointer;
}

.nocursor{
    cursor: initial;
}

.winner{
    width:100px;
    height:100px;
}

.hex i{
    font-size:2em;
    width:100%;
    color: #fff;
    text-align: center;
    line-height: 2.5em;
}
.hex i.selected{
    border-radius:45px;
    border: 1px solid #ffffff;
}

.hex-start{
    background: url('/images/start.png') no-repeat;
}
.hex-finish{
    background: url('/images/finish.png') no-repeat;
}
.hex-out{
    background: url('/images/out.png') no-repeat;
}
.hex-meadow{
    background: url('/images/meadow.png') no-repeat;
}
.hex-earth{
    background: url('/images/earth.png') no-repeat;
}
.hex-rock{
    background: url('/images/rock.png') no-repeat;
}
.hex-forest{
    background: url('/images/forest.png') no-repeat;
}
.hex-desert{
    background: url('/images/desert.png') no-repeat;
}
.hex-water{
    background: url('/images/water.png') no-repeat;
}

#info{
    padding: 5px 5px 5px 15px;
}

.scroll{
    overflow-x:auto;
}

@media (min-width: 768px){
    .container-md, .container-sm, .container {
        max-width: initial;
    }
}

@media (min-width: 576px){
    .container-sm, .container {
        max-width: initial;
    }
}

.chat{
    min-height:250px;
}

.playerinfos{
    border:1px solid #cccccc;
    border-bottom: 0;
    margin-bottom: 20px;
}
.playerinfos thead td{
    font-weight: bold;
}
.playerinfos tr{
    border-bottom: 1px solid #cccccc;
}
.playerinfos td{
    text-align: center;
}

.nobtn{
    background: none;
    border:0;
    color: #3490dc;
    text-decoration: none;
    padding-left: 0;
}

.clicker{
    margin:5px;
}
.minicard{
    padding:5px;
    color:#ffffff;
    cursor: pointer;
    text-align: center;
}

.lastmoves{
    opacity : 0.3;
    filter : 'alpha(opacity=30)';
}

#tile-hover{
    position: absolute;
    z-index:9999;
    width:30px;
    height:30px;
    display:none;
}

.list-horizontal{
    display:inline;
    list-style: none;
}
.list-horizontal li{
    float:left;
    padding:10px;
}

.hexa-editor{
    display:block;
    width:30px !important;
    height:36px;
}

.hexagone {
    position: relative;
    width:100%;
    visibility: hidden;
    overflow: hidden;
    -webkit-filter : drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
    filter : drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}
.hexagone:after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    display: block;
    margin-top: 28.86751%;
    padding-bottom: 86.602%;
}
.hexagone .hexagonemain{
    display: block;
    position: absolute;
    width: 100%;
    padding-bottom: 115.47005%;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    z-index: 1;
}
.hexagone .hexagonemain:before{
    content: "";
    display: block;
    position: absolute;
    visibility: visible;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}
.hexagone .hexagonemain.hex-water:before{
    background: url('/images/water.png') no-repeat;
}
.hexagone .hexagonemain.hex-forest:before{
    background: url('/images/forest.png') no-repeat;
}
.hexagone .hexagonemain.hex-earth:before{
    background: url('/images/earth.png') no-repeat;
}
.hexagone .hexagonemain.hex-desert:before{
    background: url('/images/desert.png') no-repeat;
}
.hexagone .hexagonemain.hex-rock:before{
    background: url('/images/rock.png') no-repeat;
}
.hexagone .hexagonemain.hex-meadow:before{
    background: url('/images/meadow.png') no-repeat;
}
.hexagone .hexagonemain.hex-out:before{
    background: url('/images/rock.png') no-repeat;
    opacity:0.2;
}

.btn-primary{
    color:#ffffff;
}
.btn-primary:hover, .btn-primary:focus{
    color:#ffffff;
}

.ml-auto{
margin-left: auto!important;
padding:20px;
}

a{
text-decoration: none;
}
a:hover{
text-decoration: underline;
}

.rotate {
display:inline-block;
-webkit-animation: spin 2s linear infinite;
-moz-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.myselect{
width:120px;
display:inline;
padding-top:2px;
}

@media only screen and (min-width: 600px) {
    .forminfo {
        text-align: center;
    }
}
.min200{
    min-width: 200px;
}

.nolist{
    list-style: none;
    padding: 0;
}
.player-selected{
    width:fit-content;
    border:1px solid #cccccc;
    padding-bottom: 2px;
    padding-right: 2px;
    background: #e7d476;
}

.hexmap{
    width:100%;
    min-width:1050px;
    height:770px;
    overflow: auto;
    position:relative;
    top:-50px;
}
.hexmap.map-30{
    top:-30px;
    min-width:875px;
}
.hexmap.map-25{
    top:-10px;
    min-width:750px;
}

.hexmap text{
    font-size:40px;
}

.hexmap.map-30 text{
    font-size:35px;
}
.hexmap.map-25 text{
    font-size:30px;
}
